@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;

}
@media only screen and (max-width: 600px) {
    header {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media only screen and (max-width: 400px) {
    header {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(rgb(0, 0, 0), #0DB295);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 126px;
}

h1{
    color: white;
}

nav ul {
    list-style-type: none;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    width: 142px;
}

/* nav li:hover{
    transform: scale(1.1);
    background-color: #f9f9f9;
    border-radius: 4px;
} */

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover{
    transform: scale(1.1);
}
nav{
    padding: 10px;
    width: 100%;    
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.cart_account{
    gap: 30px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.content{
    width: 80%;
    margin: 0 auto;
}
.card{ 
    margin-top: 30px;
    width: 250px;
    background-color: white;
    border: 2px rgba(139, 139, 139, 0.377) solid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.foto_cotail{
    padding: 20px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info img{
    width: 35px;
}

.add{
    display: flex;
    align-items: center;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.price{
    padding: 10px;
}
.main_text{
   display:flex;
   justify-content: center;
   color: black;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: linear-gradient(#0DB295, rgb(0, 0, 0));
}
.products{
   display: flex;
   justify-content: center;
}
.adding{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.Order{
    display: flex;
    justify-content: center; 
    margin-top: 30px;
}
th{
    width: 200px;
    padding: 10px;
}
td{
    width: 200px;
    padding: 10px;
}
.adding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}